body {
	padding: 0;
	margin: 0;
}
.info-window {
	width: 240px;
	background-color: transparent;
	position : absolute;
	top : 60px;
	left: 100px;
	display: block;
	z-index: 999;
	font-family: sans-serif;
	color: #f4f1f1;
}
.name{
	color: #f4f1f1;
	text-transform: uppercase;
	font-style: 1.3rem;
}
.image-planet {
	width: 140px;
	margin: 0 auto;
}

p {
	margin-top: 5px;
}
span {
    font-weight: 100;
}